html * {
    font-family: Georgia, sans-serif;
    font-size: 12pt;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    background-image: url("cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll, fixed;
    padding: 8em 4em 0px 4em;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 35%;
}

#gravatar {
    width: 10em;
    border-radius: 100%;
    border: 0px none;
    display: inline-block;
    position: relative;
}

#body {
    margin-left: 35%;
    padding: 128px 64px 64px 64px;
}

#head h1 {
    font-size: 2em;
    font-weight: 300;
}

#head h2 {
    font-size: 1em;
    font-weight: 100;
}

hr {
    border: 0;
    border-top: 1px solid;
}

#content a {
    text-decoration: none;
    border-bottom: 1px dotted rgb(0, 75, 107);
    color: rgb(0, 75, 107);
}

footer li {
  display: inline-block;
  padding: 0 1em 0 0;
}

footer ul {
  list-style: none;
  margin: 0 0 2em 0;
  line-height: 300%;
}

footer a {
    text-decoration: none;
    color: rgb(0, 75, 107);
}

footer {
    padding: 4em 0 0 0;
    position: absolute;
}

#content {
    height: 100%;
}

#body {
    position: relative;
}

#text {
    padding: 0 0 3em 0;
}

@media only screen and (max-width: 875px) {
    #body {
        margin: 40px 40px 20px;
        padding: 1px 16px 16px;
        width: calc( 100% - 80px );
        padding: 16px;
        background-color: white;
    }
    header {
        width: 100%;
        padding: 1em 4em 0px 4em;
    }
    #gravatar {
        display: none;
    }
    footer {
        width: 100%;
        background-color: white;
        left: 0px;
        margin-top: 4em;
        padding-top: 2em;
    }
}
