<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page['pagetitle'] }}</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
        <link rel="stylesheet" href="academicons.css">
        <link rel="stylesheet" type="text/css" href="fontawesome.css">
        <link rel="stylesheet" type="text/css" href="fa-brands.css">
        <link rel="stylesheet" type="text/css" href="fa-solid.css">
    </head>
    <body>
        <a href="{{ page['baseurl'] }}">
            <header>
                <img id="gravatar" src="https://www.gravatar.com/avatar/{{ page['gravatar'] }}?size=300" />
            </header>
        </a>
        <div id="body">
            <div id="head">
                {% block header %}
                {% endblock header %}
            </div>

            <hr/>
            <div id="content">
                {% block main %}
                {% endblock main %}
            </div>
            {% block footer %}
            {% endblock footer %}
        </div>
    </body>
</html>
