{% extends "base.html.jinja2" %}
{% block header %}
    <h1>{{ page['author'] }}</h1>
    <h2>{{ page['subtitle'] }}</h2>
{% endblock header %}

{% block main %}
<div id="text">
    {{ page['content'] }}
</div>
{% endblock %}

{% block footer %}
<footer>
    <ul>
        {% for logo, url in page['social'].items() %}
            <li><a href="{{ url }}"><i class="{{ prefixes[logo] }} {{ logo }} {{ logo[0:2] }}-3x" aria-hidden="true"></i></a></li>
        {% endfor %}
    </ul>
</footer>
{% endblock footer %}
